*{
 -moz-box-sizing: border-box; /* Для Firefox */
 box-sizing: border-box; /* Ширина блока с полями */
 outline: 0;
}

body, p{
 margin: 0;
 padding: 0;
}

.wrap{
 margin: 0 auto;
 width: 1200px;
 display: block;
}

body{
 background-color: #f2f4f5;
}